section#contacts.contacts
  .contacts__wrapper
    ul.contacts__list
      each contact in contacts.list
        li.contacts__item
          h3.title.contacts__title #{donate.title}
          ul.contacts__content-list
            each item in contact.contentList
              li.contacts__content-item
                a.contacts__link(class=item.modifyer href=item.href) #{item.text}
    img.contacts__img(src=contacts.img.src width=contacts.img.width height=contacts.img.height alt=contacts.img.alt)
