section#donate.donate
  .donate__wrapper
    h2.title.donate__title #{donate.title}
    p.donate__desc #{donate.desc}
    a.button.button--bank.donate__bank-link(href=donate.link.href) #{donate.link.text}
    i.donate__terms #{donate.tems}
  img(src=`images/${donate.img.name}.${donate.img.format}` width=donate.img.width height=donate.img.height alt=donate.img.alt)
