section#donate.donate
  .donate__wrapper
    h2.title.donate__title
    p.donate__desc #{donate.title}
    a.button.button--bank.donate__bank-link(href=donate.link.href) #{donate.text}
    i.donate__terms #{donate.tems}
  img(src=donate.img.src width=donate.img.width height=donate.img.height alt=donate.img.alt)
