section.footer
  .footer__wrapper
    h2.title.footer__title.visually-hidden #{footer.title}
    include contacts
    img.footer__img(src=`images/${footer.img.name}.${footer.img.format}` width=footer.img.width height=footer.img.height alt=footer.img.alt)
