header#start.header
  .header__wrapper
    .header__navigation
      .header__navigation-wrapper
        .header__title-wrapper
          h1.title.header__title #{header.title}
          p.header__text-desc #{header.desc}
        include ../blocks/nav
      button.header__trigger(type="button" aria-label=header.trigger.aria.label aria-haspopup=header.trigger.aria.haspopup aria-expanded=header.trigger.aria.expanded)
        span.header__burger
    .header__content
      .header__desc
        h2.title.title--white.title--large.header__lead #{header.content.title}
        p.header__text #{header.content.text}
        a.button.button--solid.header__button(href=header.content.button.href) #{header.content.button.text}
      img.header__image(src=`images/${header.content.img.name}.${header.content.img.format}` width=header.content.img.width height=header.content.img.height alt=header.content.img.alt)
    span.header__trigger


