section#help.help
  .help__wrapper
    h2.title.help__title #{help.title}
    ul.help__list
      each item in help.list
        li.help__item
          h3.help__name #{item.name}
          svg.help__svg(viewBox=item.viewbox width=item.width height=item.height)
            use(xlink:href=`#${item.id}`)
