section#pets.pets
  .pets__wrapper
    h2.title.pets__title !{pets.title}
    .pets__slider.swiper-container
      ul.pets__list.swiper-wrapper
        each pet in pets.list
          li.pets__card.swiper-slide
            h3.pets__name #{pet.name}
            img.pets__photo(src=`images/${pet.img.name}.${pet.img.format}` width=pet.img.width height=pet.img.height alt=pet.img.alt)
            a.button.pets__more-link(href=pet.href) Learn more
      .pets__controls
        each control in pets.controls
          button.pets__control(class=`pets__control--${control.direction}` type="button" aria-label=control.aria.label)
            svg.pets__control-svg(viewBox="0 0 14 6" width="14" height="6")
              use(xlink:href="#arrow")
    a.button.button--solid.pets__button(href=pets.button.href) #{pets.button.text}



